@model Blog.Models.User

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Vložení nového záznamu";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="well">
         @Html.EditorForModel()
    </fieldset>
    
    <fieldset class="form-actions">
        <input class="btn btn-primary" type="submit" value="Vložit nového uživatele" />
        @Html.ActionLink("Storno", "Index", null, new { @class="btn"})
    </fieldset>
}
